*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



#contenedor{
    display:grid;
    place-items: center;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6,auto);
    grid-template-areas:

    "cabecera"
    "principal"
    "productos"
    "videos"
    "formulario"
    "pie"

    ;

    width: 100%;
    height: 100vh;

}

#cabecera{
    grid-area: cabecera;

}
.slide-bottom{-webkit-animation:slide-bottom 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-bottom 1s cubic-bezier(.25,.46,.45,.94) both}

@-webkit-keyframes slide-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(100px);transform:translateY(100px)}}@keyframes slide-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(100px);transform:translateY(100px)}}

h1{
    color: #90afca;
    background-color:#336b87;
    width: 100%;
    font-size: 50px;
    font-weight: 200;
    font-family: tahoma;
}

h2{
    display: flex;
    color: #90afca;
    background-color:#336b87;
    width: 100%;
    font-weight: 200;
    font-family: tahoma;
    justify-content: center;
}

body{
    background-color: rgb(161, 174, 235);
}

.menu{

}

header{ 
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
    background-color:#336b87;
    width: 100%;

}

    .menu ul{
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }
    .menu ul li{
       color: #90afca;
       font-weight: bold;
       display: inline-block;
       position: relative;
      
    
    }
    a:link { text-decoration: none;
    }
    
    .menu ul li a{
        color: #90afca;
    }
    
    .menu ul li a:hover{
        color: bisque;
    }
    
    .menu ul ul{
        position: absolute;
        display: none;
    }
    
    .menu ul li:hover ul{
        display: block;
    }
    .menu ul li:hover ul li a{
        background-color: #336b87 ;
        
    }
    
    .menu ul ul li{
        display: block;
    }
    


#principal{
    grid-area: principal;
    width: 100%;

}

.img_main{
    width: 100%;
    padding: 16px;
}
.img_main img{
    width: 100%;
    
}

p{
    text-align: center;
    background-color:#2E7E56;
    color: bisque;
    font-size: 18px;
}

#productos{
    grid-area: productos;
    width: 100%;

}

table{
    width: 100%;
    color: bisque;

}

#videos{
    grid-area: videos;
    width: 100%;

}

.botton-section{
    margin: 4px;
}

section h2{
    
    background-color: #336b87 ;
    
}

#formulario{
    grid-area: formulario;
    width: 100%;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#pie{
    grid-area: pie;
    width: 100%;

}

@media (max-width:640px) {
    nav {
    display: none;
    }
    img_main img {}
    }
    @media (max-width:640px) {
    nav {
    display: none;
    }
    img_main {
    padding: 40px;
    }
    };


/* 

.img__ofer{
    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	align-content: flex-start;
    
}




section{
    background-color: #2E7E56 ;
}



nav{
    background-color: #336b87;
}




#videos{
    background-color: #2E7E56 ;
}

footer{
    background-color: rgb(161, 174, 235);
    height: 30px;
} */